{% extends "layout/basic.html" %}

{% block title %}
    Что произошло?
{% endblock title %}

{% block content %}
    <h2>Расскажи мне, что у тебя произошло за день.</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">  
    </form>
{% endblock content %}

<!-- <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление выполненых задач</title>
</head>
<body>
    <h1>Добавление выполненых задач и поручений</h1>
    <div>
        <a href="{% url 'index' %}">Главная</a>
        {% for rubric in rubrics %}
            <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
</body>
</html> -->