{% extends "layout/basic.html" %}

{% block title %}
    {{ bb.rubric.name }}}
{% endblock title %}

{% block content %}
    {% for bb in bbs %}
        <div>
            <h2>{{ bb.title }}</h2>
            <p>{{ bb.content }}</p>
            <p>{{ bb.rubric.name }}</p>
            <p>{{ bb.published|date:"d.m.Y H:i" }}</p>
        </div>
    {% endfor %}
{% endblock content %}

<!-- <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <h1>Задачи</h1>
    <div>
        <a href="/">Главная</a>
        <a href="{% url 'add' %}">Добавить</a>
        {% for rubric in rubrics %}
            <a href="/{% url 'by_rubric' rubric.pk %}/">{{ rubric.name }}</a>
        {% endfor %}
    </div>
    {% for bb in bbs %}
    <div>
        <h2>{{ bb.title }}</h2>
        <p>{{ bb.content }}</p>
        <p>{{ bb.published|date:"d.m.Y H:i" }}</p>
    </div>
    {% endfor %}

</body>
</html> -->